<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
    <form>
      <input class="name" id="form" type="text" placeholder="Enter your task here!">
      <input class="btn" id="form-input" type="submit" value="Add to list!" />
      <ul id="tasks"></ul>
    </form>
    <script type="text/javascript" src="js/js.js"></script>
  </body>
</html>

